{
  "globals": {
    "__PATH_PREFIX__": true
  },
  "extends": ["react-app", "airbnb", "airbnb/hooks"],
  "rules": {
    "semi": ["error", "never"],
    "jsx-quotes": ["error", "prefer-single"],
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": "off"
  }
}
