{
  "globals": {
    "__PATH_PREFIX__": true
  },
  "extends": ["react-app", "airbnb", "airbnb/hooks"],
  "rules": {
    "semi": ["error", "never"],
    "jsx-quotes": ["error", "prefer-single"],
    "max-len": [
      "error",
      {
        "code": 85,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": "off",
    "react/state-in-constructor": ["off","never"],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": "always",
        "ObjectPattern": {
          "multiline": true
        },
        "ImportDeclaration": "never",
        "ExportDeclaration": {
          "multiline": true,
          "minProperties": 3
        }
      }
    ]
  }
}
