$margin-bottom-hr: 15px;

.custom-hr {
  width: 40px;
  margin: auto;
}

.custom-hr2 {
  width: 230px;
  margin: auto;
  margin-bottom: $margin-bottom-hr;
}

.custom-hr3 {
  width: 100px;
  margin: auto;
  margin-bottom: $margin-bottom-hr;
}

.custom-hr4 {
  width: 280px;
  margin: auto;
  margin-bottom: $margin-bottom-hr;
}

.custom-hr5 {
  width: 40px;
  margin: auto;
  margin-bottom: $margin-bottom-hr;
}
