body {
  margin-left: 0;
  margin-right: 0;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.42188rem;
  border-left: 0.32813rem solid #ffffff;
}

pre {
  background-color: $card-background-color !important;
}

pre code {
  font-size: 0.8em !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f5f5f5;
}

.reset {
  margin: 0;
  padding: 0;
}

.photo {
  margin: 5px auto 24px;
}

.no-scroll {
  overflow: hidden !important;
}

.custom-hero {
  background-color: #1b1d1e;
  background-image: url('../images/noise.png');
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: $card-background-color;
}

.paragraph {
  text-indent: 50px;
}

// Overwrite default navbar-burger from Bulma
.navbar-burger {
  border: 0;
  background-color: transparent;
}
