/* Use the font here */
/* $family-primary: "Same Font's Name"; */

/* Change default bulma colors */
$body-background-color: #181a1b;
$text: #d4d4d4;
$text-strong: #ffffff;
$link: #ffdd57;
$link-hover: #d9ae00;
$card-background-color: #292929;
$code: #ffffff;
$code-background: #292929;
$tag-color: #d4d4d4;
$tag-background-color: #202021;
$tag-radius: 0;
